<mat-card style="width:500px">
  <mat-card-header>
    <mat-card-title>PDFScanner</mat-card-title>
    <mat-card-subtitle>Parser de pdf</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploader.addToQueue($event)">
      <input hidden type="file" name="pdf" ng2FileSelect [uploader]="uploader" multiple #fileInput (change)="uploader.addToQueue($event.target.files)" accept="application/pdf">
    </div>
    <div  class="files-list" *ngFor="let file of uploader.getNotUploadedItems();let i=index">
      <p>{{ file.some.name }}</p>
      <button class="delete-file" (click)="uploader.removeFromQueue(file)">
        <img src="/assets/Recycle_Bin_Full.png">
      </button>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" color="primary">Envoyer les fichiers</button>
  </mat-card-actions>
</mat-card>
