<mat-toolbar role="heading" class="nav-header" color="primary">

  <button mat-icon-button routerLink="upload">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-flat-button fxHide.lt-sm routerLink="synthesis" color="primary">
    Synthèse
  </button>


  <span fxFlex></span>

</mat-toolbar>
