<div fxLayout="column" fxFlexFill>
  <app-header *ngIf="!router.isActive('login')"></app-header>
  <div fxFlex>
      <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="!router.isActive('login')"></app-footer>
</div>
