<mat-card>
  <mat-card-title>Sign In</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div fxLayout="row">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          <mat-error *ngIf="f.username.invalid">Username required</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" type="password" matInput [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <mat-error *ngIf="f.password.hasError('required')">Password required</mat-error>
        </mat-form-field>
      </div>

      <mat-card-actions>
        <div fxLayout="row">
          <button mat-raised-button type="submit" color="primary">
            Se connecter
          </button>
        </div>
      </mat-card-actions>

    </form>
  </mat-card-content>
</mat-card>


