/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #3f51b5;
}

.app-container {
  background: #d9edf7;
  min-height: 100vh;
}
html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
