


<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Failed to load datas
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="bills" matSort matSortActive="F_factNb" matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">
      <!-- Bill number Column -->
      <ng-container matColumnDef="F_factNb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.F_factNb}} </td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="F_emetteur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transmiter </th>
        <td mat-cell *matCellDef="let element"> {{element.F_emetteur}} </td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="F_nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.F_nom}} </td>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="F_prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
        <td mat-cell *matCellDef="let element"> {{element.F_prenom}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="F_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.F_date}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="F_prix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.F_prix}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>
